__pycache__

catkin_ws/src/detic_ros/datasets
catkin_ws/src/detic_ros/detic_configs
catkin_ws/src/detic_ros/models
catkin_ws/src/detic_ros/scripts/detic
catkin_ws/src/detic_ros/scripts/third_party
catkin_ws/src/detic_ros/data/*
!catkin_ws/src/detic_ros/data/snacks