[submodule "docker/builddir/detectron2"]
	path = docker/builddir/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "docker/builddir/Detic"]
	path = docker/builddir/Detic
	url = https://github.com/facebookresearch/Detic.git