<launch>
  <node name="resized"
        pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize"
        respawn="false">
    <remap from="image" to="/rgb/image_raw" />
    <remap from="~image" to="/resized_image_color" />
    <param name="scale_width" value="1.0" />
    <param name="scale_height" value="1.0" />
  </node>
</launch>
